{% extends 'padre.html' %}
{% load static %}

{% block contenido-header %}
<link href="{% static '/css/perfil.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenido-home %}
<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Cargaste mal {{usuario.username}}</h3>
		<div class="card-text">
			<!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
			<form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
				<!-- to error: add class "has-danger" -->
				<div class="form-group">
					<label for="username">Usuario</label>
					<input type="text" name="username" placeholder="{{usuario.username}}" class="form-control form-control-sm" id="Username" aria-describedby="emailHelp">
				</div>

				<div class="form-group">
					<label for="username">Nombre</label>
					<input type="text" name="first_name" placeholder="{{usuario.first_name}}" class="form-control form-control-sm" id="Username" aria-describedby="emailHelp">
				</div>
                <div class="form-group">
					<label for="username">Apellido</label>
					<input type="text" name="last_name" placeholder="{{usuario.last_name}}" class="form-control form-control-sm" id="Username" aria-describedby="emailHelp">
				</div>

				<div class="form-group">
					<label for="image">Selecciona la imagen</label>
					<input type="file" name="image" accept=".png, .jpg, .jpeg" multiple class="form-control form-control-sm" id="Username" aria-describedby="emailHelp">
				</div>
                
				<div class="form-group">
					<label for="password">Password</label>
					
					<input type="password" name="password1" class="form-control form-control-sm" id="Password">
				</div>
                <div class="form-group">
					<label for="password">Repite Password</label>
					
					<input type="password" name="password2" class="form-control form-control-sm" id="Password">
				</div>
				<button type="submit" class="btn btn-primary btn-block">Sign in</button>
				
				
			</form>
		</div>
	</div>
</div>
</div>

{% endblock %}