{% extends 'padre.html' %}
{% load static %}

{% block contenido-home %}

<div class="container">
    <div class="row">
        <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{posts.fecha}}</div>
                    <h2 class="card-title">{{posts.titulo}}</h2>
                    <div class="card-text overtext" text-overflow="ellipsis" >{{posts.contenido}}</div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}