{% extends 'padre.html' %}
{% load static %}

{% block contenido-home %}

<div class="container">
    <div class="row">
        <div class="card mb-4">
                <a href="#!"><img class="card-img-topa" src="/media/{{ posts.imagen }}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{posts.fecha}}</div>
                    <h2 class="card-title">{{posts.titulo}}</h2>
                    <h4 class="small text-muted">Autor: {{posts.autor}}</h4>
                    <h4 class="small text-muted">Categoria: {{posts.genero}}</h4>
                    <div class="card-text overtext" text-overflow="ellipsis" >{{posts.contenido}}</div>
                    
                </div>
            </div>
        </div>
        <h2>Agrega un nuevo mensaje para el Post</h2>
        <form action="{% url 'msg' posts.id %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Titulo</label>
        <input type="text" class="form-control" name="titulo" id="exampleFormControlInput1" placeholder="Titulo">
    </div>
     
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" name="contenido" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit">Agregar</button>
</form>

{% if cant == 1 %}
<h2>Mensajes del Post</h2>
{% for n in msg %}  
<div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Titulo</label>
        <input type="text" class="form-control" value="{{ n.titulo }}"  id="exampleFormControlInput1" placeholder="Titulo">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Autor</label>
    <input type="text" class="form-control" value="{{ n.autor }}"  id="exampleFormControlInput1" placeholder="Titulo">
</div>

<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{n.contenido}}</textarea>
    
</div>
{% endfor %}
{% else %}
<h2>No hay Mensajes para el Post</h2>
{% endif %}

</div>
</div>
{% endblock %}
